* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#testimonial-grid-container {
    padding: 5% 3%;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
    z-index: 0;
}

#testimonial-2 {
    background-color: #48556a;
    color: #ffffff;
}

#testimonial-3, #testimonial-5 {
    background-color: #ffffff;
    color: #48556a;
}

#testimonial-4 {
    background-color: #19212e;
    color: #ffffff;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    font-size: 13px;
}

.grid-item p {
    opacity: 70%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
}

.header .name {
    opacity: 100%;
    font-size: 1rem;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #7541c8;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 1;
}

@media (min-width: 576px) {

    #testimonial-grid-container,
    #main-left,
    #top,
    #bottom {
        display: flex;
    }

    #top, #bottom {
        flex-basis: 50%;
    }

    #testimonial-5 {
        flex-basis: 20%;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 80%;
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 65%;
    }
    
    #testimonial-2, #testimonial-3 {
        flex-basis: 35%;
    }

    #testimonial-grid-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    #main-left .grid-item {
        margin-right: 15px;
    }
}